pytorch/datasets
pytorch/__pycache__
pytorch/.ipynb_checkpoints/
__pycache__/
pretrained_weights/
.vscode/
.ipynb_checkpoints/
.idea/
*.npy 
*.png
*.nii.gz
*.vscode
*.pt
*.ipynb
*.json
objects/
runs/
stats/
