pytorch/datasets
pytorch/__pycache__
pytorch/.ipynb_checkpoints/
__pycache__/
pretrained_weights/
job_logs/
env/
old_env/
.vscode/
.ipynb_checkpoints/
.idea/
*.npy 
*.png
*.sh
*.nii.gz
*.vscode
*.pt
*.ipynb
!results.ipynb
*.json
*.jpg
objects/
runs/
stats/
